<title>404 Error</title>

<!-- Google Font: Source Sans Pro -->
<link
	rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
/>
<!-- Font Awesome -->
<link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" />
<!-- icheck bootstrap -->
<link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css" />
<!-- Theme style -->
<link rel="stylesheet" href="/assets/css/adminlte.min.css" />

<section class="content">
	<div class="error-page">
		<h2 class="headline text-warning">404</h2>
		<br />

		<div class="error-content">
			<h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Page not found.</h3>

			<p>We could not find the page you were looking for.</p>
		</div>
	</div>
	<!-- /.error-page -->
</section>
