<title>500 Error</title>

<!-- Google Font: Source Sans Pro -->
<link
	rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
/>
<!-- Font Awesome -->
<link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css" />
<!-- icheck bootstrap -->
<link rel="stylesheet" href="../plugins/icheck-bootstrap/icheck-bootstrap.min.css" />
<!-- Theme style -->
<link rel="stylesheet" href="../assets/css/adminlte.min.css" />

<section class="content">
	<div class="error-page">
		<h2 class="headline text-danger">500</h2>
		<br />

		<div class="error-content">
			<h3>
				<i class="fas fa-exclamation-triangle text-danger"></i> Oops! Something went wrong.
			</h3>

			<p>We will work on fixing that right away. Meanwhile, you may</p>
		</div>
	</div>
	<!-- /.error-page -->
</section>
